*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  /* forces inheriting box-sizing from body for all elements */
  box-sizing: inherit;
}

html {
  /* default font size of browser is 16px */
  /* we want 10 px, so (100 / 16) * 10 */
  // which is why not part of typography
  font-size: 62.5%;
}

body {
  /* padding to be included in height and width */
  box-sizing: border-box;
}